.redbg{
    background-color:#52C4F1;
}
*{
    /* background-color:#ED64A6; */
}
.main-box{
    background-color: #B91519;
}
.bgcolor{
    background-color: #FC5C2B;
}
.wealth-color{
    background-color:#74C5C2;
}
.primary{
    background-color: #F857A1;
}
.gym{
    background-color: #d870708a;
}
.nasa{
    background-color: #8DFFAC;
}